body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #34b2a7;
}


.container {
    width: 300px; 
    height: 400px; 
    background-color: greenyellow;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(97, 128, 26, 0.1); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-shadow: 0px 3px 0px #fff;
    transform: rotate(-9deg);
}

#stage{
    width: 100%;
    height: 60px;
    padding: 30px 0;
    margin: 0;
    font-size: 30px;
}

button{
    margin: 20px;
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    border-radius: 50px;
    background: #34b2a7 ;
    color: #fff;
    font-family: inherit;
    font-weight: bold;
}